
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@model Sach.Model.Models.Review


<form asp-action="Edit" asp-controller="Review" method="post" class="row g-3">
    <div class="col-md-2">
        <label asp-for="Id" class="form-label">ID</label>
        <input class="form-control" asp-for="Id" value="@Model.Id">
    </div>
    <div class="col-md-8">
        <label asp-for="ProductId" class="form-label">Mã sản phẩm</label>
        <input class="form-control" asp-for="ProductId" value="@Model.ProductId">
    </div>
    <div class="col-6">
        <label asp-for="CustomerId" class="form-label">Mã khách hàng</label>
        <input class="form-control" asp-for="CustomerId" value="@Model.CustomerId">
    </div>
    <div class="col-md-4">
        <label asp-for="Rating" class="form-label">Đánh giá</label>
        <input class="form-control" asp-for="Rating" value="@Model.Rating">
    </div>
    <div class="col-md-12">
        <label asp-for="Comment" class="form-label">Lời bình</label>
        <input class="form-control" asp-for="Comment" value="@Model.Comment">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" href="/Administrator/Review/Index">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>