@model Sach.Model.Models.Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<form asp-action="Edit" asp-controller="Product" method="post" class="row g-3">
    <div class="col-md-3">
        <label asp-for="Id" class="form-label">Mã SP</label>
        <input class="form-control" asp-for="Id" value="@Model.Id">
    </div>
    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Tên SP</label>
        <input class="form-control" asp-for="Name" value="@Model.Name">
    </div>
    <div class="col-md-12">
        <label asp-for="CategoryId" class="form-label">Mã danh mục sản phẩm</label>
        <input class="form-control" asp-for="CategoryId" value="@Model.CategoryId">
    </div>
    <div class="col-6">
        <label asp-for="Author" class="form-label">Tác giả</label>
        <input class="form-control" asp-for="Author" value="@Model.Author">
    </div>
    <div class="col-md-6">
        <label asp-for="Publisher" class="form-label">Nhà xuất bản</label>
        <input class="form-control" asp-for="Publisher" value="@Model.Publisher">
    </div>
    <div class="col-4">
        <label asp-for="PublishedYear" class="form-label">Năm xuất bản</label>
        <input class="form-control" asp-for="PublishedYear" value="@Model.PublishedYear">
    </div>
    <br />

    <div class="col-md-6">
        <label asp-for="Image" class="form-label">Ảnh (Link)</label>
        <input class="form-control" asp-for="Image" value="@Model.Image">
    </div>


    <div class="col-md-6">
        <label asp-for="MoreImage" class="form-label">Ảnh thêm về SP (Link, cách nhau bởi dấu ";")</label>
        <input class="form-control" asp-for="MoreImage" value="@Model.MoreImage">
    </div>


    <div class="col-4">
        <label asp-for="Price" class="form-label">Giá</label>
        <input class="form-control" asp-for="Price" value="@Model.Price">
    </div>
    <div class="col-4">
        <label asp-for="Quantity" class="form-label">Số lượng</label>
        <input class="form-control" asp-for="Quantity" value="@Model.Quantity">
    </div>
    <div class="col-12">
        <label asp-for="Description" class="form-label">Mô tả</label>
        <textarea name="editor1" class="form-control" asp-for="Description" value="@Model.Description"></textarea>
    </div>
    <script>
        CKEDITOR.replace('editor1');
    </script>
    
    <fieldset class="row mb-6">
        <legend class="col-form-label col-sm-2 pt-0">Trạng thái</legend>
        <div class="col-sm-10" asp-for="Status">
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Status" value="True" checked value="@Model.Status">
                <label class="form-check-label" asp-for="Status" for="gridRadios1">
                    Còn hàng
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Status" value="False" value="@Model.Status">
                <label class="form-check-label" asp-for="Status" for="gridRadios2">
                    Hết hàng
                </label>
            </div>
        </div>
    </fieldset>
    <div class="col-md-4">
        <label asp-for="ViewCount" class="form-label">Lượt xem</label>
        <input class="form-control" asp-for="ViewCount" value="@Model.ViewCount">
    </div>
    <div class="col-md-4">
        <label asp-for="Condition" class="form-label">Tình trạng sách</label>
        <input class="form-control" asp-for="Condition" value="@Model.Condition">
    </div>
    <fieldset class="row mb-4">
        <legend class="col-form-label col-sm-2 pt-0">Trạng thái xuất bản</legend>
        <div class="col-sm-4" asp-for="PublicationStatus">
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="PublicationStatus" value="Còn xuất bản" value="@Model.PublicationStatus">
                <label class="form-check-label" asp-for="PublicationStatus" for="gridRadios1">
                    Còn xuất bản
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="PublicationStatus" value="Không còn xuất bản" value="@Model.PublicationStatus">
                <label class="form-check-label" asp-for="PublicationStatus" for="gridRadios2">
                    Không còn xuất bản
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="PublicationStatus" value="Phục chế" value="@Model.PublicationStatus">
                <label class="form-check-label" asp-for="PublicationStatus" for="gridRadios2">
                    Phục chế
                </label>
            </div>
        </div>
    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" href="/Administrator/Product/Index">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>
