@model Tuple<Sach.Model.Models.Product,List<Sach.Model.Models.ProductCategory>,List<Sach.Model.Models.Review>,List<Sach.Model.Models.Customer>>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>@Model.Item1.Name</title>
</head>
<section class="single_product_details_area d-flex align-items-center">
    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            <img src="@Model.Item1.Image" alt="" >
            @if (@Model.Item1.MoreImage != null)
            {
                string[] imageUrls = @Model.Item1.MoreImage.Split(';');
                foreach (var url in imageUrls)
                {
                    <img src="@url">
                }
            }
        </div>
    </div>
    
    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <h4>Lượt xem : @Model.Item1.ViewCount <i class="bi bi-eye"></i></h4>
        @foreach(var item in Model.Item2)
        {
            if (item.Id == Model.Item1.CategoryId)
            {
                <span>@item.Name</span>;
            }
        }
        <h2>@Model.Item1.Name</h2>
        <h5>Tác giả: @Model.Item1.Author</h5>
        <h5>@Model.Item1.Publisher</h5>
        <p class="product-price">Năm: @Model.Item1.PublishedYear</p>
        <p class="product-price">Giá : @Model.Item1.Price VNĐ</p>
        <p class="product-desc">Số lượng : @Model.Item1.Quantity</p>
        <p class="product-desc">@Model.Item1.Description</p>
        <!-- Form -->
        <form class="cart-form clearfix" method="post">

            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" name="addtocart" value="5" class="btn essence-btn" onclick="addToCart('@Model.Item1.Id')">Add to Cart</button>
                <!-- Favourite -->
                
            </div>
        </form>
        @foreach (var abc in Model.Item3)
        {
            if (abc.ProductId == Model.Item1.Id)
            {

                var ratings = Model.Item3.Where(r => r.ProductId == Model.Item1.Id).Select(r => r.Rating);
                var averageRating = ratings.Any() ? ratings.Average() : 0;
                <p class="product-price">Rating : @averageRating <i class="bi bi-star"></i></p>

                <h5>Comment: <i class="bi bi-chat"></i> </h5>
                <h5>@abc.Rating <i class="bi bi-star"></i>: @abc.Comment</h5>
                foreach (var cde in Model.Item4)
                {
                    if (abc.CustomerId == cde.Id)
                    {
                        <span>Người đánh giá : @cde.FullName</span>
                    }
                }
            }
        }
        <a type="submit" value="5" class="btn essence-btn" href="/Home/ReviewSach/@Model.Item1.Id">Đánh giá ngay</a>
    </div>
    


</section>